<!-- <loading-bar #loadingBar [height]="height" [color]="color" [runInterval]="runInterval"></loading-bar> -->

<button class="btn btn-primary mt-3" (click)="goBack()"><i class="fa fa-angle-left"></i> Back</button>
<h2 class="my-3 text-primary">Subject & BehaviourSubject</h2>

<h4>UserName is <strong class="text-primary">{{userName}}</strong></h4>

<div class="row">
    <div class="col-md-4">
        <app-comp1></app-comp1>
    </div>
    <div class="col-md-4">
        <app-comp2></app-comp2>
    </div>
    <div class="col-md-4">
        <app-comp3></app-comp3>
    </div>
</div>
