<div class="box">
    <div class="col-md-12">
        <h2>Observables</h2>
        <div class="row">
            <div class="col-md-3 cursor" routerLink="from-event">
                <h4>From Event</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="interval">
                <h4>Interval & Timer</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="of-from">
                <h4>Of & from</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="to-array">
                <h4>toArray</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="custom">
                <h4>Custom Observable</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="map">
                <h4>Map Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="pluck">
                <h4>Pluck Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="filter">
                <h4>Filter Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="tap">
                <h4>Tap Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="take">
                <h4>Take Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="retry">
                <h4>Retry Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="debounce">
                <h4>Debounce Operator</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="subject">
                <h4>Subject</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="replaysubject">
                <h4>Replay Subject</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="asyncsubject">
                <h4>Async Subject</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="concat">
                <h4>Concat</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="merge">
                <h4>Merge</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="mergemap">
                <h4>Merge Map</h4>
            </div>
            <div class="col-md-3 cursor" routerLink="concatmap">
                <h4>Concat Map</h4>
            </div>
        </div>
    </div>
</div>