<button class="btn btn-primary mt-3" (click)="goBack()"><i class="fa fa-angle-left"></i> Back</button>
<h2 class="my-3 text-primary">Pluck Operator</h2>

<div class="row">
    <!-- Ex - 1 -->
    <div class="col-md-6">
        <strong>Ex - 1</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Pluck: </strong> By Property
        </p>
        <br>
        <ul>
            <li *ngFor="let item of names">{{item}}</li>
        </ul>
    </div>

    <!-- Ex - 2 -->
    <div class="col-md-6">
        <strong>Ex - 2</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Pluck: </strong> By Nested Array Property
        </p>
        <br>
        <ul>
            <li *ngFor="let item of titles">{{item}}</li>
        </ul>
    </div>
</div>