<button class="btn btn-primary mt-3" (click)="goBack()"><i class="fa fa-angle-left"></i> Back</button>
<h2 class="my-3 text-primary">Tap Operator</h2>

<!-- <div class="row" [ngStyle]="{color: myColors}"> -->
<div class="row">
    <!-- Ex - 1 -->
    <div class="col-md-6">
        <strong>Ex - 1</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Tap: </strong> For Subscription
        </p>
        <br>
        <ul id="elcontainer"></ul>
    </div>

    <!-- Ex - 2 -->
    <div class="col-md-6" [ngStyle]="{color: myColors}">
        <strong>Ex - 2</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Tap: </strong> For Color Change
        </p>
        <br>
        <ul id="elcontainer2"></ul>
    </div>

</div>