<button class="btn btn-primary mt-3" (click)="goBack()"><i class="fa fa-angle-left"></i> Back</button>
<h2 class="my-3 text-primary">Concat Map</h2>


<div class="row">
    <!-- Ex - 1 -->
    <div class="col-md-4">
        <strong>Ex - 1 | Map</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Videos: </strong>  ['Tech', 'Comedy','News']
        </p>
        <hr>
        <ul id="elcontainer"></ul>
    </div>

    <!-- Ex - 2 -->
    <div class="col-md-4">
        <strong>Ex - 2 | Map + ConcatAll</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Videos: </strong>  ['Tech', 'Comedy','News']
        </p>
        <hr>
        <ul id="elcontainer2"></ul>
    </div>

    <!-- Ex - 3 -->
    <div class="col-md-4">
        <strong>Ex - 3 | concatMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Videos: </strong> ['Tech', 'Comedy','News']
        </p>
        <hr>
        <ul id="elcontainer3"></ul>
    </div>
</div>